USE [Bd_ElysiumBeauty]
GO
/****** Object:  Table [dbo].[Tb_Servico]    Script Date: 03/02/2025 16:45:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Servico](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TipoServico] [varchar](50) NOT NULL,
	[Valor] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_Tb_Servico] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_Agendamento]    Script Date: 03/02/2025 16:45:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Agendamento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DtHoraAgendamento] [datetime] NOT NULL,
	[DataAtendimento] [date] NOT NULL,
	[Horario] [time](7) NOT NULL,
	[fk_Usuario_ID] [int] NOT NULL,
	[fk_Servico_ID] [int] NOT NULL,
 CONSTRAINT [PK_Tb_Atendimento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_Usuario]    Script Date: 03/02/2025 16:45:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Telefone] [varchar](50) NOT NULL,
	[Senha] [varchar](50) NOT NULL,
	[TipoUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Tb_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_Agendamentos]    Script Date: 03/02/2025 16:45:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_Agendamentos]
AS
SELECT        dbo.Tb_Agendamento.Id, dbo.Tb_Agendamento.DtHoraAgendamento, dbo.Tb_Agendamento.DataAtendimento, dbo.Tb_Agendamento.Horario, dbo.Tb_Servico.TipoServico, dbo.Tb_Servico.Valor, dbo.Tb_Usuario.Nome, 
                         dbo.Tb_Usuario.Email, dbo.Tb_Usuario.Telefone
FROM            dbo.Tb_Agendamento INNER JOIN
                         dbo.Tb_Servico ON dbo.Tb_Agendamento.fk_Servico_ID = dbo.Tb_Servico.Id INNER JOIN
                         dbo.Tb_Usuario ON dbo.Tb_Agendamento.fk_Usuario_ID = dbo.Tb_Usuario.Id
GO
ALTER TABLE [dbo].[Tb_Agendamento]  WITH CHECK ADD  CONSTRAINT [FK_Tb_Atendimento_Tb_Servico] FOREIGN KEY([fk_Servico_ID])
REFERENCES [dbo].[Tb_Servico] ([Id])
GO
ALTER TABLE [dbo].[Tb_Agendamento] CHECK CONSTRAINT [FK_Tb_Atendimento_Tb_Servico]
GO
ALTER TABLE [dbo].[Tb_Agendamento]  WITH CHECK ADD  CONSTRAINT [FK_Tb_Atendimento_Tb_Usuario] FOREIGN KEY([fk_Usuario_ID])
REFERENCES [dbo].[Tb_Usuario] ([Id])
GO
ALTER TABLE [dbo].[Tb_Agendamento] CHECK CONSTRAINT [FK_Tb_Atendimento_Tb_Usuario]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Tb_Agendamento"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 241
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "Tb_Servico"
            Begin Extent = 
               Top = 6
               Left = 279
               Bottom = 119
               Right = 475
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Tb_Usuario"
            Begin Extent = 
               Top = 6
               Left = 513
               Bottom = 136
               Right = 709
            End
            DisplayFlags = 280
            TopColumn = 1
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_Agendamentos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_Agendamentos'
GO
